.logo{
    height: 8vh;
    width: 4vw;
}
.second-h3{
    text-decoration: underline;
    text-underline-offset: 0.7rem;
}
.second-img1{
    width: 100%;
    height: 100%;
}
.card-img-1{
    height: 100%;   
}
.card-img-2{
    height: 100%;   
}
.strength{
    height: 30vh;
}


@media (max-width:950px){
    .quick-link-div{
        justify-content: center;
    }
}
@media (max-width:750px){
    .second-img1{
        width: 100%;
        height: 100%;
    }
    .logo{
        width: 8vw;
    }
    .strength{
        width: 100%;
        height: 100%;
    }
    .last-p{
        margin-left: 2px;
        text-align: center;
    }
    .second-p1{
        padding-top: 1.5rem;
    }
}
@media (max-width:346px){
    .logo{
        width: 11vw;
    }
}